---
---

@import "{{ site.theme }}";

// Everything below this line will override the default template styles

a:hover, a:focus { color: #069; font-weight: normal; text-decoration: underline; }

table.image td {
  text-align: center;
}

body {
  color: #323232;
}

a.prev {
  float: left;
}

a.prev:before {
  content: "< "
}

a.next {
  float: right;
}

a.next:after {
  content: " >"
}