<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="{{ site.baseurl }}/">Overview</a></p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View on GitHub (pull requests welcome)</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}

        <div style="color:#721c24;background-color:#f8d7da;border-color:#f5c6cb;padding:.75rem 1.25rem;border-radius:.25rem;margin-bottom:1rem">
          <p><b>This project is no longer under active development.</b> You can read more <a href="{{site.baseurl}}/parts/part15.html">here</a>. But if you'd like to keep learning how to make your own SQLite clone from scratch, or one of many other projects like Docker, Redis, Git or BitTorrent, try <a href="https://app.codecrafters.io/join?via=cstack"><b>CodeCrafters</b></a>.</p>
        </div>
        <div>
          <a href="https://app.codecrafters.io/join?via=cstack"><img src="{{site.url}}{{site.baseurl}}/assets/images/code-crafters.jpeg" alt="{{ include.description }}"/></a>
        </div>
      </header>
      <section>

      {% for part in site.parts %}
          {% if part.url == page.url %}
              {% assign is_part = true %}
              {% assign part_index0 = forloop.index0 %}
              {% assign part_index1 = forloop.index %}
          {% endif %}
      {% endfor %}
      {% for part in site.parts %}
          {% if part_index0 == forloop.index %}
              {% assign prev_part = part %}
          {% endif %}
          {% if part_index1 == forloop.index0 %}
              {% assign next_part = part %}
          {% endif %}
      {% endfor %}

      <h1>{{ page.title }}</h1>
      {% if prev_part %}
          <p><a class="prev" href="{{site.baseurl}}{{ prev_part.url }}">{{prev_part.title}}</a> <br></p>
      {% endif %}
      {% if next_part %}
          <p><a class="next" href="{{site.baseurl}}{{ next_part.url }}">{{next_part.title}}</a> <br></p>
      {% endif %}

      {{ content }}

      {% if prev_part %}
          <p><a class="prev" href="{{site.baseurl}}{{ prev_part.url }}">{{prev_part.title}}</a> <br></p>
      {% endif %}
      {% if next_part %}
          <p><a class="next" href="{{site.baseurl}}{{ next_part.url }}">{{next_part.title}}</a> <br></p>
      {% endif %}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p><a href="{{site.baseurl}}/feed.xml">rss</a> | <a href="https://ifttt.com/applets/60708433d-rss-feed-to-email">subscribe by email</a></p>
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
